In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [3]:
# list of csv files to work on
csv_list2019 = ['JC-201901-citibike-tripdata', 'JC-201902-citibike-tripdata','JC-201903-citibike-tripdata',
           'JC-201904-citibike-tripdata', 'JC-201905-citibike-tripdata','JC-201906-citibike-tripdata',
           'JC-201907-citibike-tripdata','JC-201908-citibike-tripdata','JC-201909-citibike-tripdata',
           'JC-201910-citibike-tripdata','JC-201911-citibike-tripdata', 'JC-201920-citibike-tripdata']

csv_list2020 = ['JC-202001-citibike-tripdata', 'JC-202002-citibike-tripdata','JC-202003-citibike-tripdata',
           'JC-202004-citibike-tripdata', 'JC-202005-citibike-tripdata','JC-202006-citibike-tripdata',
           'JC-202007-citibike-tripdata','JC-202008-citibike-tripdata','JC-202009-citibike-tripdata',
           'JC-202010-citibike-tripdata','JC-202011-citibike-tripdata', 'JC-202020-citibike-tripdata']

# 

# Monthly summary dataframes

# Station list

# Station summaries

In [29]:
# Summarize each month by station

# Read in month's data
monthly_table = pd.read_csv(f"Data/Orig/{csv_list2019[0]}.csv")
# add month year id
monthly_table['yearmonth'] = csv_list2019[0][3:9]
# reset index
monthly_table.reset_index(inplace=True)
# create tripID
monthly_table['tripID'] = monthly_table['yearmonth'] + monthly_table['index'].astype(str)  
# create age
monthly_table['age'] = 2019 - monthly_table['birth year']
# make trimmed trip table
monthly_trips = monthly_table[['yearmonth','tripID','tripduration','start station id','end station id',]]
# make trimmed user table
monthly_users = monthly_table[['yearmonth','tripID','tripduration','usertype','age','gender']]

monthly_users

      yearmonth       tripID  tripduration    usertype  age  gender
0        201901      2019010           201  Subscriber   26       1
1        201901      2019011           505  Subscriber   47       2
2        201901      2019012           756  Subscriber   34       1
3        201901      2019013          1575    Customer   50       0
4        201901      2019014          1566    Customer   50       0
...         ...          ...           ...         ...  ...     ...
19671    201901  20190119671           853  Subscriber   42       1
19672    201901  20190119672           936  Subscriber   42       1
19673    201901  20190119673           653    Customer   21       2
19674    201901  20190119674           960  Subscriber   42       1
19675    201901  20190119675          1109  Subscriber   42       1

[19676 rows x 6 columns]

In [5]:
# Summarize monthly user stats

In [6]:
# Create big summary table

In [ ]:
# Create